.titulo1{
    background-color: black;border-color: blue;
    text-align: center;
    font-size: 100px;
}

.titulo2{
    background-color: brown;
    text-align: center;
    font-size: 50px;
}
.Parrafo1{
    background-color: black;
    text-align: center;
    font-size: 30px;
}